.tableBotomLine {
    border-bottom: 1px solid #9AB4C2; 
    }


.tabBtmLine { 
	background-image: url(/img/monitor/ceruleanBlue/tab_behindbg.gif);
    	background-repeat:repeat-x;
    	background-position: left top; 
	height:21px; 
}


.tbUnselected_Left { 
	background-image: url(/img/monitor/ceruleanBlue/tb_unselected_leftbox.gif);
    	background-repeat: no-repeat;
    	background-position: left top;
}

.tbUnselected_Middle {  
	font: 12px Verdana, Arial, Helvetica, sans-serif; 
	height: 21px;
	color: #514069;
    	text-align:center;
    	background-image: url(/img/monitor/ceruleanBlue/tb_unselected_middlebg.gif);
    	background-repeat: repeat-x;
    	background-position: left top;
}

.tbUnselected_Right{ 
	background-image: url(/img/monitor/ceruleanBlue/tb_unselected_rightbox.gif) ;
    	background-repeat: no-repeat;
    	background-position:  left top; 
    	width: 10px; 
	height: 21px;
}

.tbSelected_Left { 
	background-image: url(/img/monitor/ceruleanBlue/tb_selected_leftbox.gif) ;
    	background-repeat: no-repeat;
    	background-position:  left top; 
    	width:3px; 
    	height:21px; 
}

.tbSelected_Middle {  
	font: 12px Verdana, Arial, Helvetica, sans-serif; 
	height: 21px;
	color: #514069;
    	text-align:center;
    	background-image: url(/img/monitor/ceruleanBlue/tb_selected_middlebg.gif) ;
    	background-repeat: repeat-x;
    	background-position:  left top;
}

.tbSelected_Right { 
	background-image: url(/img/monitor/ceruleanBlue/tb_selected_rightbox.gif) ;
    	background-repeat: no-repeat;
    	background-position:  left top; 
    	width: 10px; 
    	height: 21px;  
}

.tbSelectedMon_Left { 
	background-image: url(/img/monitor/ceruleanBlue/tb_selectedMon_leftbox.gif) ;
    	background-repeat: no-repeat;
    	background-position:  left top; 
    	width:3px; 
    	height:21px; 
}

.tbSelectedMon_Middle {  
	font: 12px Verdana, Arial, Helvetica, sans-serif; 
	height: 21px;
	color: #514069;
    	text-align:center;
    	background-image: url(/img/monitor/ceruleanBlue/tb_selectedMon_middlebg.gif) ;
    	background-repeat: repeat-x;
    	background-position:  left top;
}

.tbSelectedMon_Right { 
	background-image: url(/img/monitor/ceruleanBlue/tb_selectedMon_rightbox.gif) ;
    	background-repeat: no-repeat;
    	background-position:  left top; 
    	width: 10px; 
    	height: 21px;  
}

.tabLink { 
	font:12px verdana, arial, helvetica, san-serif; 
	color: #514069; 
	text-align: left; 
	text-decoration: none; font-weight: normal; 
}

.tabLink a:link, .tabLink a:visited {
	font:12px verdana, arial, helvetica, san-serif; 
	color: #514069; 
	text-decoration: underline; 
	font-weight: bold; 
}

.tabLinkActive  {
	font-size:12px; 
	color: #514069;	
	text-decoration: none;	
	font-weight: bold; 
}
.widgetRowHeader
{
background : #F6F7F9;
border-bottom: 1px solid #E5EDE2;
padding-left:15px;
height: 25px;
line-height:25px;
font : 12px verdana, arial, sans-serif;
color : #48633C;
font-weight : bold;
}

/*********   Alpha Button BG   ************/
.themeFontColor {
  	         font: Verdana, Arial, Helvetica, sans-serif;
  	         font-size: 14px;
  	         font-weight: bold;
  	         font-style: normal;
  	         text-decoration: none;
  	         padding: 0px 3px 0px 3px;
  	         color:#514069;
}

.pullDownnArrow { 
	height:17px; 
	padding:0px; 
	cursor: pointer;float:left;	
	background-image: url(/img/monitor/ceruleanBlue/pulldown_arrow.gif);
	background-repeat: repeat-x;	
	width: 17px; 
}


html>body .pullDownnArrow {
	padding:0px;
}

.dropdownnTxt2{ width:150px; height:19px; text-align: center; 
	margin-bottom: -3px;  font:12px Verdana, Arial, Helvetica, Sans-serif; 
	color: #514069;border:1px solid #9AB4C2; padding-right:0px; 
	padding-left:2px; padding-bottom:0px; display:block; cursor:pointer;
        background-image:url(/img/monitor/ceruleanBlue/actionButtonBG.gif) }

.dropdownnTxt{ height:19px; text-align: center; 
	margin-top: 2px;  font:12px Verdana, Arial, Helvetica, Sans-serif; 
	color: #514069;border:1px solid #9AB4C2; padding-right:0px; 
	padding-left:2px; padding-bottom:0px; display:block; cursor:pointer;
        background-image:url(/img/monitor/ceruleanBlue/actionButtonBG.gif); }
        
#dropDownContentDiv{ position:absolute; 
	z-index: 100; margin-top:3px; 
	margin-left: -115px; display:none; }
html>body #dropDownContentDiv{ margin-top:0px; margin-left: 0px; }



/*---------  DropDown text List by hours  ---------*/

.transBG { width: 103px; height: 20px; padding-left:6px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #514069; border: 1px solid #9AB4C2;             
	border-top: 0px none;
        /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='images/transparentPNG-BG.png');*/
        background-color: #fff; }

.transBG a:link, .transBG a:visited { text-decoration: underline;  color: #514069;}
.transBGTopBorder { width: 103px; height: 20px; padding-left:6px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; color: #514069; border: 1px solid #9AB4C2;             
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='images/transparentPNG-BG.png');*/
        background-color: #fff; }

.transBGTopBorder a:link, .transBG a:visited { text-decoration: underline;  color: #514069;}


/****     Table Styles    ***/

.tableOne
{
	border: 1px solid #9AB4C2;
}

.tableOneBot
{
	border: 1px solid #9AB4C2;
	border-top-width:0px;
	background-color: #F6F8F9;
}

.tableOneBlack{
	border: 1px solid #000000;
}
.tableHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-image: url(/img/monitor/ceruleanBlue/tableHeaderBG.gif);
	background-repeat: repeat-x;
	background-position:bottom left;
	height: 22px;
	color: #514069;
	padding-left: 3px;
}

.tableHeader a:link, .tableHeader a:hover, .tableHeader a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
	height: 22px;
	color: #514069;
	padding-left: 3px;
}

.tab_row_fill
{
	background-image: url(/img/monitor/ceruleanBlue/rowFill.gif);
	background-repeat:repeat-x;
	height:21px;
	border-bottom: 1px solid #EEF2F4;
	padding: 0px 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 12px;
	text-decoration: none;
	color: #514069;
}


/*-----  Monitors style   ----------------------


.dialBox {width:450px; height:340px;} */

.boxRightBtmLine {border-right:1px solid #9AB4C2; 
	border-bottom:1px solid #9AB4C2;  
	height:170px; padding-bottom: 2px;}

.boxLineBtm {border-bottom:1px solid #9AB4C2;  
	height:170px; padding-bottom: 5px; padding-top: 0px;}

.boxLineRight {border-right:1px solid #9AB4C2; height:170px;}

.alarmsRowStyle { background-image: url(/webclient/common/images/CeruleanBlue/recentAlarmsBG.gif); 
	height: 72px;  border-bottom: 1px solid #EEF2F4; padding:4px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-style:normal; font-size: 12px; 
	text-decoration: none; color: #514069; }

html>body .alarmsRowStyle { height: 82px; }

.alarmsRowStyle a {  text-decoration: underline; color: #514069; }

 .centerthumb{
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000;
}

        
