<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
	 
	 <!-- 拓扑图轮询任务 -->
	 <!--定时任务：拓扑图轮询  -->  
	<bean id="MonitorTopologyPoll" class="com.combanc.monitor.quartz.MonitorTopologyPoll">
	
		<property name="monitorLinkportDAO">
			<ref bean="MonitorLinkportDAO" />
		</property>
		<property name="monitorSystemParamService" ref="MonitorSystemParamService"/>
		<property name="monitorSubnetService" ref="MonitorSubnetService"/>
	</bean>
	
	<bean id="TopologyPollTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="MonitorTopologyPoll" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	
	<bean id="cronTriggerTopologyPollTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerTopologyPoll">  
         <property name="jobDetail">  
             <ref bean="TopologyPollTask" />  
         </property>  
         <!--  
         <property name="cronExpression">  
             <value>0/1 * * * * ?</value>  
         </property> 
         -->
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- 拓扑图轮询任务  end-->
	
	<!--生成报表数据任务  -->  
	<bean id="MonitorFiveMinutesPoll" class="com.combanc.monitor.quartz.MonitorFiveMinutesPoll">
		<property name="alerter" ref="Alerter"/>  
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="monitorCpuDataDAO">
			<ref bean="MonitorCpuDataDAO" />
		</property>
		<property name="monitorTopologyNodeDAO">
			<ref bean="MonitorTopologyNodeDAO" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
		<property name="monitorDeviceService">
			<ref bean="MonitorDeviceService" />
		</property>
		<property name="monitorLinkportService">
			<ref bean="MonitorLinkportService" />
		</property>
		<property name="monitorRegularDataService">
			<ref bean="MonitorRegularDataService" />
		</property>
		<property name="monitorRealtimePortflowService">
			<ref bean="MonitorRealtimePortflowService" />
		</property>
		<property name="monitorInterfaceCacheService">
			<ref bean="MonitorInterfaceCacheService" />
		</property>
	</bean>
	<bean id="FiveMinutesDataTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="MonitorFiveMinutesPoll" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<!-- 对于相同的JobDetail，当指定多个Trigger时, 很可能第一个job完成之前，第二个job就开始了。
		指定concurrent设为false，多个job不会并发运行，第二个job将不会在第一个job完成之前开始 -->
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerFiveMinutesDataTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerFiveMinutesPoll">  
         <property name="jobDetail">  
             <ref bean="FiveMinutesDataTask" />  
         </property> 
         <!--  
         <property name="cronExpression">  
             <value>0 0/2 * * * ?</value>  
         </property> 
          --> 
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	
	
	
	<!--生成报表数据任务 end -->  
	
	<!-- 小时、天数据合并任务 -->
	<bean id="MinuteDataMergePoll" class="com.combanc.monitor.quartz.MinuteDataMergePoll">
		<property name="monitorDeviceService">
			<ref bean="MonitorDeviceService" />
		</property>
		<property name="monitorCpuDataDayService">
			<ref bean="MonitorCpuDataDayService" />
		</property>
		<property name="monitorCpuDataService">
			<ref bean="MonitorCpuDataService" />
		</property>
		<property name="monitorCpuDataHourService">
			<ref bean="MonitorCpuDataHourService" />
		</property>
		<property name="monitorLinkportService">
			<ref bean="MonitorLinkportService" />
		</property>
		<property name="monitorRegularDataService">
			<ref bean="MonitorRegularDataService" />
		</property>
		<property name="monitorRegularDataHourService">
			<ref bean="MonitorRegularDataHourService" />
		</property>
		<property name="monitorRegularDataDayService">
			<ref bean="MonitorRegularDataDayService" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
		<property name="monitorInterfaceCacheService">
			<ref bean="MonitorInterfaceCacheService" />
		</property>
		<property name="dwrService" ref="DwrService"/>
	</bean>
	
	<bean id="MergePollTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="MinuteDataMergePoll" />  
		</property>  
		<property name="targetMethod">  
			<value>merge</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	
	<bean id="cronTriggerMergePollTask"  class="org.springframework.scheduling.quartz.CronTriggerBean">  
         <property name="jobDetail">  
             <ref bean="MergePollTask" />  
         </property>  
         <property name="cronExpression">  
             <value>0 0/5 * * * ?</value>  
         </property>
	</bean> 
	<!-- 小时、天数据合并任务 end -->
	
	<!--  主机扫描任务-->
	<bean id="HostScanPoll" class="com.combanc.monitor.quartz.HostScanPoll">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="monitorRealtimeUseService">  
			<ref bean="MonitorRealtimeUseService" />  
		</property>
		<property name="monitorRealtimeDelayService">  
			<ref bean="MonitorRealtimeDelayService" />  
		</property>
		<property name="monitorRealtimeFaultService">  
			<ref bean="MonitorRealtimeFaultService" />  
		</property>
		<property name="monitorRealtimePortflowService">  
			<ref bean="MonitorRealtimePortflowService" />  
		</property>
		<property name="monitorRealtimeCpuService">  
			<ref bean="MonitorRealtimeCpuService" />  
		</property>
		<property name="monitorTcpPortService">  
			<ref bean="MonitorTcpPortService" />  
		</property>
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
		<property name="monitorServerProcessService">  
			<ref bean="MonitorServerProcessService" />  
		</property>
		<property name="monitorCpuDataService">  
			<ref bean="MonitorCpuDataService" />  
		</property>
		<property name="monitorKeyInterfaceService">  
			<ref bean="MonitorKeyInterfaceService" />  
		</property>
		<property name="monitorUrlResponseService">  
			<ref bean="MonitorUrlResponseService" />  
		</property>
		<property name="alerter">  
			<ref bean="Alerter" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="hostSnmpQuery">
			<ref bean="HostSnmpQuery" />
		</property>
		<property name="monitorPingDestTypeService">
			<ref bean="MonitorPingDestTypeService" />
		</property>
	</bean>
	
	<bean id="HostScanPollTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="HostScanPoll" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerHostScanPollTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerHostScan">  
         <property name="jobDetail">  
             <ref bean="HostScanPollTask" />  
         </property>  
         <!--  
         <property name="cronExpression">  
             <value>0/5 * * * * ?</value>  
         </property> 
         -->
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean>
	<!--  主机扫描任务 end-->
	
	<!--  CPU阈值报警扫描-->
	<bean id="CpuHightScan" class="com.combanc.monitor.quartz.faultScan.CpuHightScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
	</bean>
	
	<bean id="CpuHightScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="CpuHightScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerCpuHightScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="CpuHightScanTask" />  
         </property>  
         <!--  
         <property name="cronExpression">  
             <value>0/1 * * * * ?</value>  
         </property> 
         -->
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean>
	<!--  CPU阈值报警扫描 end-->
	<!--  SNMP不通报警扫描-->
	<bean id="DeviceFaultScan" class="com.combanc.monitor.quartz.faultScan.DeviceFaultScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
	</bean>
	
	<bean id="DeviceFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="DeviceFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerDeviceFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="DeviceFaultScanTask" />  
         </property> 
         <!-- 
          <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
          </property>
          --> 
          <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!--  SNMP不通报警 end -->
	<!--  Ping不通报警扫描-->
	<bean id="PingDeviceFaultScan" class="com.combanc.monitor.quartz.faultScan.PingDeviceFaultScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
	</bean>
	
	<bean id="PingDeviceFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="PingDeviceFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerPingDeviceFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="PingDeviceFaultScanTask" />  
         </property> 
         <!-- 
          <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
          </property>
          --> 
          <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!--   Ping不通报警 end -->
	<!--  带宽占用超阈值扫描 -->
	<bean id="FlowHightScan" class="com.combanc.monitor.quartz.faultScan.FlowHightScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="monitorLinkportService">  
			<ref bean="MonitorLinkportService" />  
		</property>
		<property name="monitorRealtimePortflowService">  
			<ref bean="MonitorRealtimePortflowService" />  
		</property>
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
	</bean>
	
	<bean id="FlowHightScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="FlowHightScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerFlowHightScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="FlowHightScanTask" />  
         </property> 
         <!-- 
          <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
          </property>
          --> 
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!--  带宽占用超阈值扫描 end-->
	
	<!--  关键接口下线报警 -->
	<bean id="KeyInterfaceFaultScan" class="com.combanc.monitor.quartz.faultScan.KeyInterfaceFaultScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
	</bean>
	
	<bean id="KeyInterfaceFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="KeyInterfaceFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerKeyInterfaceFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="KeyInterfaceFaultScanTask" />  
         </property> 
         <!-- 
         <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
          --> 
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!--  关键接口下线报警 end-->
	
	
	<!-- Ping报警扫描 -->
	<bean id="PingFaultScan" class="com.combanc.monitor.quartz.faultScan.PingFaultScan">
		<property name="monitorPingDestService">  
			<ref bean="MonitorPingDestService" />  
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
	</bean>
	
	<bean id="PingFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="PingFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerPingFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="PingFaultScanTask" />  
         </property> 
         <!-- 
         <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
          --> 
          <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- Ping报警扫描  end-->
	
	<!-- 服务器进程报警扫描 -->
	<bean id="ProcessFaultScan" class="com.combanc.monitor.quartz.faultScan.ProcessFaultScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="hostSnmpQuery">
			<ref bean="HostSnmpQuery" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
	</bean>
	
	<bean id="ProcessFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="ProcessFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerProcessFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="ProcessFaultScanTask" />  
         </property> 
         <!-- 
         <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
          --> 
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- 服务器进程报警扫描  end-->
	
	<!-- 服务无响应报警扫描 -->
	<bean id="ServiceFaultScan" class="com.combanc.monitor.quartz.faultScan.ServiceFaultScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
	</bean>
	
	<bean id="ServiceFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="ServiceFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerServiceFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="ServiceFaultScanTask" />  
         </property>
         <!-- 
         <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
          -->
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- 服务无响应报警扫描  end-->
	
	<!-- 温度超阈值报警扫描 -->
	<bean id="TempHightScan" class="com.combanc.monitor.quartz.faultScan.TempHightScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
	</bean>
	
	<bean id="TempHightScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="TempHightScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerTempHightScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="TempHightScanTask" />  
         </property>
         <!-- 
          <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
          -->  
        <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- 温度超阈值报警扫描  end-->
	
	<!-- URL监测类报警扫描 -->
	<bean id="UrlFaultScan" class="com.combanc.monitor.quartz.faultScan.UrlFaultScan">
		<property name="monitorDeviceService">  
			<ref bean="MonitorDeviceService" />  
		</property>
		<property name="monitorUrlResponseService">
			<ref bean="MonitorUrlResponseService" />
		</property>
		<property name="deviceSnmpQuery">
			<ref bean="DeviceSnmpQuery" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
	</bean>
	
	<bean id="UrlFaultScanTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="UrlFaultScan" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerUrlFaultScanTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerErrorScan">  
         <property name="jobDetail">  
             <ref bean="UrlFaultScanTask" />  
         </property>  
         <!-- 
          <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
          -->  
        <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- URL监测类报警扫描  end-->
	
	<!-- Ping扫描报警监视 -->
	
	
	<bean id="PingScan" class="com.combanc.monitor.quartz.PingScan">
		<property name="monitorPingResultService">  
			<ref bean="MonitorPingResultService" />  
		</property>
		<property name="monitorPingDestService">
			<ref bean="MonitorPingDestService" />
		</property>
		<property name="monitorSystemParamService">
			<ref bean="MonitorSystemParamService" />
		</property>
		<property name="alerter">
			<ref bean="Alerter" />
		</property>
	</bean>
	<bean id="PingScanMonitor" class="com.combanc.monitor.quartz.PingScanMonitor">
		<property name="monitorSystemParamService">  
			<ref bean="MonitorSystemParamService" />  
		</property>
		<property name="monitorPingTimePointService">
			<ref bean="MonitorPingTimePointService" />
		</property>
		<property name="pingScan">
			<ref bean="PingScan" />
		</property>
	</bean>
	
	<bean id="PingScanMonitorTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="PingScanMonitor" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerPingScanMonitorTask"  class="org.springframework.scheduling.quartz.CronTriggerBean">  
         <property name="jobDetail">  
             <ref bean="PingScanMonitorTask" />  
         </property>  
         <property name="cronExpression">  
             <value>0 0/1 * * * ?</value>  
         </property>
	</bean> 
	<!-- Ping扫描报警监视  end-->
	
	<!-- ScanLoopTimer -->

	<bean id="ScanLoopTimer" class="com.combanc.monitor.quartz.ScanLoopTimer" > 
		   <property name="monitorSystemParamService" ref="MonitorSystemParamService"/>
		   <property name="dwrService" ref="DwrService"/>
	</bean>
	
	<bean id="ScanLoopTimerTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="ScanLoopTimer" />  
		</property>  
		<property name="targetMethod">  
			<value>scan</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerScanLoopTimerTask"  class="com.combanc.monitor.quartz.initial.InitialCronTriggerScanLoopTimer">  
         <property name="jobDetail">  
             <ref bean="ScanLoopTimerTask" />  
         </property>  
         <!--  
         <property name="cronExpression">  
             <value>0/5 * * * * ?</value>  
         </property> 
         -->
         <property name="monitorSystemParamDAO" ref="MonitorSystemParamDAO"/>
	</bean> 
	<!-- ScanLoopTimer  end-->
	
	<!-- 数据保存时长处理 -->
	
	<bean id="DataKeepTimeJob" class="com.combanc.monitor.quartz.DataKeepTimeJob" > 
		   <property name="monitorSystemParamService" ref="MonitorSystemParamService"/>
	</bean>
	<bean id="DataKeepTimeJobTask"    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject">  
			<ref bean="DataKeepTimeJob" />  
		</property>  
		<property name="targetMethod">  
			<value>process</value>  
		</property>  
		<property name="concurrent" value="false"/>  
	</bean>
	<bean id="cronTriggerDataKeepTimeJobTask"  class="org.springframework.scheduling.quartz.CronTriggerBean">  
         <property name="jobDetail">  
             <ref bean="DataKeepTimeJobTask" />  
         </property>  
         <property name="cronExpression">  
             <value>0 0 0/4 * * ?</value>  
         </property> 
         
	</bean> 
	<!-- 数据保存时长处理  end-->
	
	<bean id="schedulerFactory" autowire="no"  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	 <property name="triggers">  
		<list>
		<!--  
		<ref local="cronTriggerScanLoopTimerTask" /> 
		<ref local="cronTriggerFiveMinutesDataTask" />
		<ref local="cronTriggerMergePollTask" /> 
		<ref local="cronTriggerTopologyPollTask" />
		<ref local="cronTriggerHostScanPollTask" /> 
		<ref local="cronTriggerCpuHightScanTask" /> 
		<ref local="cronTriggerDeviceFaultScanTask" /> 
		<ref local="cronTriggerFlowHightScanTask" /> 
		<ref local="cronTriggerKeyInterfaceFaultScanTask" /> 
		<ref local="cronTriggerPingFaultScanTask" /> 
		<ref local="cronTriggerProcessFaultScanTask" /> 
		<ref local="cronTriggerServiceFaultScanTask" /> 
		<ref local="cronTriggerTempHightScanTask" /> 
		<ref local="cronTriggerUrlFaultScanTask" />
		<ref local="cronTriggerPingFaultScanTask" /> 
		<ref local="cronTriggerPingDeviceFaultScanTask" /> 
		<ref local="cronTriggerDataKeepTimeJobTask" /> 
		-->
		</list>  
		</property>  
	</bean>   
	
</beans> 
