.block {
	CLEAR: both; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(../images/content-bg.gif) repeat-y; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 980px; PADDING-TOP: 0px; POSITION: relative
}
.block DIV.content {
	PADDING-RIGHT: 60px; PADDING-LEFT: 60px; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-TOP: 20px
}
.block .top {
	BACKGROUND: no-repeat 50% top; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home/images/content-top.png'); LEFT: 0px; WIDTH: 984px; POSITION: absolute; TOP: 0px; HEIGHT: 7px
}
.block .bottom {
	BACKGROUND: no-repeat 50% bottom; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/home/images/content-bottom.png'); LEFT: 0px; WIDTH: 984px; BOTTOM: -1px; POSITION: absolute; HEIGHT: 7px
}
.block:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
