A:link {
	color: #000000;
	text-decoration: none;
	border: 1px dashed white;
}
A:visited {
	color: #000000;
	text-decoration: none;
	border: 1px dashed white;
}
A:active {
	color: #000000;
	text-decoration: none;
	border: 1px dashed white;
}
A:hover {
	color: #000000;
	text-decoration: none;
	background-color: #EEF8ED;
	Border-Bottom: 1px solid #333333;
	Border-Right: 1px solid #333333;
	Border-Top: 1px solid #C6CFD8;
	Border-Left: 1px solid #C6CFD8;
}
p, body {
	SCROLLBAR-HIGHLIGHT-COLOR: F9F9F9;
	SCROLLBAR-SHADOW-COLOR: buttonshadow;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #F9F9F9;
	SCROLLBAR-DARKSHADOW-COLOR: white;
	SCROLLBAR-FACE-COLOR: EAEFF3;
	Border: 1px;
	font-family: Tahoma;
	font-size: 11px;
}
form {
	margin: 0px;
}
img {
	vertical-align: middle;
}
th {
	background-image: url(../img/tr.gif);
	height: 28;
	background-color: #EAEFF3;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: Left;
	word-break: break-all;
	padding-right: 4px;
	padding-left: 4px;
}
td {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 19px;
	word-break: break-all;
}
input {
	font-family: Tahoma;
	font-size: 11px;
  	border: 1px inset #CCCCCC;
	padding-left: 3px;
	padding-right: 3px;
	height: 18px;
}
textarea {
	font-family: Tahoma;
	font-size: 11px;
  	border: 1px inset #CCCCCC;
	line-height: 17px;
	padding-left: 3px;
}
.tb-list {
	border-color: #C3BFB3;
	border-collapse: collapse;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}
.td-bg {
	background-color: #FFFFFF;
}
.td-left
{
	background-color: #E7ECF1;
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	padding-left: 5px;
	height: 24px;
}
.td-right
{
	background-color: #F9F9F9;
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	padding-left: 5px;
	height: 24px;
}
.td-left-s
{
	background-color: #E5E9EE;
}
.td-right-s
{
	background-color: #F3F4F8;
}
.td-detail
{
	background-color: #F9F9F9;
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;	
	padding-left: 5px;
}
.noborder {
	border: none;
}

A.abtn:link {
	color: #5c6ba2;
	text-decoration: none;
}
A.abtn:visited {
	color: #5c6ba2;
	text-decoration: none;
}
A.abtn:active {
	color: #5c6ba2;
	text-decoration: none;
}
A.abtn:hover {
	color: #5c6ba2;
	text-decoration: none;
}
.clsButtonDisabled {
	height: 20px;
	background-image: url(../img/buttonface.gif);
	background-repeat: repeat-x;
	border-left: #ffffff 1px solid;
	border-bottom: #ccffff 1px solid;
	border-right: #ccffff 1px solid;
	font-family: Tahoma;
	font-size: 11px;
	color: #99cccc;
	text-align: center; 
	letter-spacing: 0px;
	vertical-align: middle;
	cursor: default; 
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	word-break: keep-all;
	behavior: url(../cn_css/dbutton_d.htc);
}
.clsButtonFace {
	height: 20px;
	background-image: url(../img/buttonface.gif);
	background-repeat: repeat-x;
	border-left: #ffffff 0px solid;
	border-bottom: #5c6ba2 1px solid;
	border-right: #5c6ba2 1px solid;
	font-family: Tahoma;
	font-size: 11px;
	text-align: center; 
	letter-spacing: 0px;
	vertical-align: middle;
	cursor: hand; 
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	word-break: keep-all;
	color: #5c6ba2;
	behavior: url(../cn_css/dbutton.htc);
}
.clsButtonFaceDown {
	height: 20px;
	background-image: url(../img/buttonfacedown.gif);
	background-repeat: repeat-x;
	border-left: #8596ca 0px solid;
	border-bottom: #5c6ba2 1px solid;
	border-right: #8596ca 1px solid;
	font-family: Tahoma;
	font-size: 11px;
	text-align: center; 
	letter-spacing: 0px;
	vertical-align: middle;
	cursor: hand; 
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	word-break: keep-all;
	color: #5c6ba2;
	behavior: url(../cn_css/dbutton.htc);
}
.datagrid {
	border-color: #C3BFB3;
	border-collapse: collapse;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}
.divover 
{ 
	position: absolute; 
	z-index: 2; 
	border: solid 1px #8596CA; 
	border-top: 0px solid; 
	background-color: #EEF8ED;
	background-image: url(../img/divover.gif);
	color: #37609D;
	width: 100%; 
	padding-left: 3px;
	padding-right: 3px;
	height: 21px;
}
.divout 
{ 
	position: absolute; 
	z-index: 1; 
	overflow: hidden;
	width: 100%; 
	height: 22px;
	padding-left: 4px;
	padding-right: 4px;
}
.datagrid tr {
	behavior: url(../cn_css/datagrid_tr.htc);
}
.datagrid div {
	behavior: url(../cn_css/datagrid_div.htc);
}
select
{
	font-size: 11px;
	font-family: Tahoma;
}
.mmBtn{	
	background: #fefefe url(../img/btn_bg.gif) repeat-x !important;
	background-color: #f7f7f7;
	border: 1px solid #2D5082;
	color: #2b333c;
	font-weight: bold;
	height: 23px;
}
.mmBtn_sm {	
	background: #fefefe url(../img/btn_bg.gif) repeat-x !important;
	background-color: #f7f7f7;
	border: 1px solid #2D5082;
	color: #2b333c;
	font-weight: bold;
	height: 19px;
	behavior: url(../en_css/mmbtnSm.htc);
}
.subtitle {
	background-image: url(../img/trx.jpg);
	height: 25px;
	background-color: #EAEFF3;
	font-family: Tahoma;
	font-size: 11px;
	word-break: break-all;
	padding-right: 4px;
	padding-left: 4px;
}