DIV.nav {
	BACKGROUND: url(/home/images/nav-bg.gif) repeat-x; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 980px; POSITION: relative; HEIGHT: 95px
}
DIV.nav DIV#pre {
	DISPLAY: block; Z-INDEX: 9999; WIDTH: 55px; CURSOR: pointer; POSITION: absolute; HEIGHT: 95px
}
DIV.nav DIV#next {
	DISPLAY: block; Z-INDEX: 9999; WIDTH: 55px; CURSOR: pointer; POSITION: absolute; HEIGHT: 95px
}
DIV.nav DIV#pre {
	BACKGROUND: url(/home/images/arrow-left.png) no-repeat; LEFT: 0px
}
DIV.nav DIV#next {
	RIGHT: 0px; BACKGROUND: url(/home/images/arrow-right.png) no-repeat 0px -95px
}
DIV.nav DIV#list {
	LEFT: 55px; POSITION: absolute
}
DIV.nav DIV#list A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 87px; COLOR: #666; PADDING-TOP: 0px; HEIGHT: 95px; TEXT-DECORATION: none
}
DIV.nav DIV#list A:hover {
	BACKGROUND: url(/home/images/nav-bg-hover.png) repeat-x
}
DIV.nav DIV#list A:hover SPAN {
	CURSOR: pointer; COLOR: #000
}
DIV.nav DIV#list A IMG {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BEHAVIOR: url(/home/iepngfix/iepngfix.htc); WIDTH: 87px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 62px; BORDER-BOTTOM-STYLE: none
}
DIV.nav DIV#list A SPAN {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 87px; PADDING-TOP: 0px; HEIGHT: 33px; TEXT-ALIGN: center
}
#navQuickLocation {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 22px 10px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 8px
}
#navQuickLocation SPAN {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 2px; WIDTH: 8px; HEIGHT: 8px
}
#navQuickLocation SPAN.current {
	BACKGROUND: url(/home/images/dot.gif) no-repeat 0px -16px
}
#navQuickLocation SPAN.toThis {
	BACKGROUND: url(/home/images/dot.gif) no-repeat 0px 0px; CURSOR: pointer
}
#navQuickLocation SPAN.toThis:hover {
	BACKGROUND: url(/home/images/dot.gif) no-repeat 0px -8px
}
