/*
Style for chart gallery
*/
.text{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; line-height:16px; color:#0b5a8b;}
.textBold{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; line-height:16px; color:#0b5a8b;}