@charset "utf-8";
html,
body { 
	scrollbar-face-color: #DDEEFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #99BBCC;
	scrollbar-3dlight-color: #AACCDD;
	scrollbar-arrow-color: #6688AA;
	scrollbar-track-color: #EEEEEE;
	scrollbar-darkshadow-color: #DDEEFF;
	}
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
font{
	font-size:12px;
	color:#3A4E69;
	}
img{border:0px;}
td{font-size:12px;
}
a:link {
	color: #3A4E69;
	text-decoration: none;
}
a:visited {
	color: #3A4E69;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	color: #FF0000;
	text-decoration: underline;
}

a.linkwhite:link {
	color: #ffffff;
	text-decoration: none;
}
a.linkwhite:visited {
	color: #ffffff;
	text-decoration: none;
}
a.linkwhite:hover {
	color: #ffffff;
	text-decoration: underline;
}
.mytd30pxheight{
	line-height:28px;
	font-size:12px;
	padding-left:5px;
	}
.content{
	font-size:14px;
	line-height:24px;
	padding-left:40px;
	padding-right:40px;
	}
.contentgitle{
	font-size:18px;
	font-weight:bold;
	color:#FF3300;
	line-height:40px;
	}
.contitle_14b{
	font-size:14px;
	font-weight:bold;
}
.notpicjpkc{
	font-size:12px;
	font-weight:bold;
	color:#3A4E69;
	}
.con-white{
	font-size:12px;
	color:#FFFFFF;
	}
.subtitle01{
	font-size:12px;
	font-weight:bold;
	color:#30789e;
	}
.detailtitle{
	font-size:16px;
	color:#3A4E69;
	font-weight:bold;
	}
.detailtitle2{
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	}
.lefttreefirst{
	font-size:12px;
	color:#093b58;
	padding-left:5px;
	}
.lefttreesecond{
	font-size:12px;
	color:#093b58;
	padding-left:30px;
	line-height:22px;
	background:url(../images/main20100521dot01.gif);
	background-repeat:no-repeat;
	background-position:left top;
	background-position:15px 6px;
	}
.mmBtn {	
	background: #fefefe url(../img/btn_bg.gif) repeat-x !important;
	background-color: #f7f7f7;
	border: 1px solid #519acc;
	color: #446484;
	font-weight: bold;
	height: 23px;
}
.mmBtn_sm {	
	background: #fefefe url(../img/btn_bg.gif) repeat-x !important;
	background-color: #f7f7f7;
	border: 1px solid #2D5082;
	color: #446484;
	font-weight: bold;
	height: 19px;
	behavior: url(../cn_css/mmbtnSm.htc);
}
.alllisttitle{
	font-size:12px;
	color:#446484;
	font-weight:bold;
}
.zcbg_tab{
	font-size:12px;
	color:#333333;
	font-weight:bold;
	border: 1px solid #B5D6E6;

	}
.zczb_qua{
	font-size:12px;
	color:#3A4E69;
}
.zczb_qua1{
	font-size:12px;
	color:#9A9A9A;
}
.zcbd_tab{
	border: 1px solid #B5D6E6;
	font-size:12px;
	color:#446484;
	font-weight:bold;
	background-color:#E7F6FD;
}
.zcxx_tab1{
	border-bottom:1px solid #9CB4DA;
}
.zcxx_tab2{
	border-left:1px solid #9CB4DA;
	border-right:1px solid #9CB4DA;
	border-bottom:1px solid #9CB4DA;
}
.zcxx_tab3{
	margin-top:10px;
	margin-bottom:10px;
	}
.zcgl_cktab{
	border-bottom:1px solid #000000;
}
.zc_add{
	font-size:12px;
	color:#F00;
	}
.login_top_bg {
	background:url(../images/login-top-bg.jpg);
	background-repeat: repeat-x;
}
.login-buttom-bg {
	background:url(../images/login-buttom-bg.jpg);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-size: 12px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}
.login_txt {
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.login_bg {
	background:url(../images/login_bg1.jpg);
	background-repeat: repeat-x;
}
.login_bg2 {
	background:url(../images/login-content-bg.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.login_txt_bt {
	font-size: 14px;
	color: #363535;
	font-weight: bold;
}

.left_txt {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
}
.notice_tab{
	border-bottom:#DFE9F3 2px solid;
	}