div.icon-48-backup {
	background: url('../images/icon-48-backup.png') no-repeat left;
}
div.icon-48-addon {
	background: url('../images/icon-48-addon.png') no-repeat left;
}
div.icon-48-bg{
	background: url('../images/icon-48-bg.png') no-repeat left;
}
div.icon-48-bullet {
	background: url('../images/icon-48-bullet.png') no-repeat left;
}
div.icon-48-config {
	background: url('../images/icon-48-config.png') no-repeat left;
}
div.icon-48-info {
	background: url('../images/icon-48-info.png') no-repeat left;
}
div.icon-48-chart {
	background: url('../images/icon-48-chart.png') no-repeat left;
}
div.icon-48-upload {
	background: url('../images/icon-48-upload.png') no-repeat left;
}
div.icon-48-info {
	background: url('../images/icon-48-info.png') no-repeat left;
}