<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 配置WapAssetsAction -->
    <bean id="WapAssetsAction" class="com.combanc.itsm.action.wap.WapAssetsAction"
		scope="prototype">
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="assetsService" ref="assetsService" />
		<property name="assetsStateService" ref="assetsStateService" />
		<property name="userService" ref="userService" />
		<property name="assetsChangeService" ref="assetsChangeService" />
	</bean>
    <bean id="LicenseAction" class="com.combanc.itsm.action.LicenseAction" scope="prototype">
    </bean>
    <bean id="ServiceRequestStatisticAction" class="com.combanc.itsm.action.eventmanage.ServiceRequestStatisticAction" scope="prototype">
    	<property name="serviceRequestStatisticService" ref="serviceRequestStatisticService"></property>
    </bean>
	<!-- 配置MainAction -->
	<bean id="MainAction" class="com.combanc.itsm.action.MainAction"
		scope="prototype">
	</bean>

	<!-- 配置LoginAction -->
	<bean id="LoginAction" class="com.combanc.itsm.action.LoginAction"
		scope="prototype">
		<property name="userService" ref="userService" />
		<property name="roleTablePrivilegeService" ref="roleTablePrivilegeService" />
		<property name="configrecordService" ref="configrecordService" />
	</bean>
	<!-- 配置ModuleAction -->
	<bean id="ModuleAction" class="com.combanc.itsm.action.ModuleAction"
		scope="prototype">
		<property name="moduleService" ref="moduleService" />
	</bean>

	<!-- 配置ModuleAction -->
	<bean id="MenuAction" class="com.combanc.itsm.action.systemmanage.MenuAction"
		scope="prototype">
		<property name="menuService" ref="menuService" />
	</bean>

	<!-- 配置UserAction -->
	<bean id="UserAction" class="com.combanc.itsm.action.systemmanage.UserAction"
		scope="prototype">
		<property name="userService" ref="userService" />
		<property name="locationService" ref="locationService"></property>
		<property name="departmentService" ref="departmentService"></property>
		<property name="serviceRequestService" ref="serviceRequestService"></property>
		<property name="workLogService" ref="workLogService"></property>
		<property name="addressBookManageService" ref="addressBookManageService"></property>
		<property name="documentService" ref="documentService"></property>
		<property name="personalNoticeService" ref="personalNoticeService"></property>
		<property name="schedualedTaskUserService" ref="schedualedTaskUserService"></property>
		<property name="assetsService" ref="assetsService"></property>
		<property name="knowledgeBaseService" ref="knowledgeBaseService"></property>
	</bean>

	<!-- 配置ErrorTypeAction -->
	<bean id="ErrorTypeAction" class="com.combanc.itsm.action.otherset.ErrorTypeAction"
		scope="prototype">
		<property name="errorTypeService" ref="errorTypeService" />
	</bean>

	<!-- 配置AuthorityAction -->
	<bean id="AuthorityAction" class="com.combanc.itsm.action.AuthorityAction"
		scope="prototype">
		<property name="authorityService" ref="authorityService" />
	</bean>

	<!-- 配置DepartmentAction -->
	<bean id="DepartmentAction" class="com.combanc.itsm.action.DepartmentAction"
		scope="prototype">
		<property name="departmentService" ref="departmentService" />
		<property name="assetsService" ref="assetsService" />
		<!--		<property name="serviceLevelService" ref="departmentService" />-->
		<property name="serviceRequestService" ref="serviceRequestService" />
		<property name="userService" ref="userService" />
		<property name="workLogService" ref="workLogService" />
		<property name="taskDepService" ref="taskDepService" />
			<property name="addressBookManageService">
			<ref bean="addressBookManageService" />
			
		</property>
		<property name="documentService" ref="documentService"></property>
	</bean>

	<!-- 配置LocationAction -->
	<bean id="LocationAction" class="com.combanc.itsm.action.systemmanage.LocationAction"
		scope="prototype">
		<property name="locationService" ref="locationService" />
		<property name="assetsService" ref="assetsService" />
		<property name="roleteamService" ref="roleteamService" />
		<property name="usersService" ref="userService" />
		<property name="workLogService" ref="workLogService" />
	</bean>
	
	<bean id="AdminAction" class="com.combanc.itsm.action.systemmanage.AdminAction"
		scope="prototype">
		<property name="configrecordService" ref="configrecordService" />
	</bean>
	
	<!-- 配置BuildLocationAction -->
	<bean id="BuildLocationAction" class="com.combanc.itsm.action.systemmanage.BuildLocationAction"
		scope="prototype">
		<property name="buildlocationService" ref="buildlocationService" />
	</bean>
	<bean id="RoleGroupAction" class="com.combanc.itsm.action.systemmanage.RoleGroupAction"
		scope="prototype">
		<property name="roleGroupService" ref="roleGroupService" />
	</bean>
	<bean id="roleGroupService" class="com.combanc.itsm.service.RoleGroupService"
		scope="prototype">
		<property name="roleGroupDao" ref="roleGroupDao" />
		<property name="roleteamDAO" ref="roleteamDAO" />
	</bean>
	<!-- 配置ItsmTypeAction -->
	<bean id="ItsmTypeAction" class="com.combanc.itsm.action.systemmanage.ItsmTypeAction"
		scope="prototype">
		<property name="itsmTypeService" ref="itsmTypeService" />
	</bean>

	<!--
		配置ModuleAction <bean id="ModuleAction"
		class="com.combanc.itsm.action.ModuleAction" scope="prototype">
		<property name="moduleService" ref="moduleService" /> </bean>
	-->

	<!-- 配置ServiceCategoryAction -->
	<bean id="ServiceCategoryAction"
		class="com.combanc.itsm.action.systemmanage.ServiceCategoryAction"
		scope="prototype">
		<property name="serviceCategoryService" ref="serviceCategoryService" />
		<property name="severityTypService" ref="severityTypService" />
	</bean>

	<!-- 配置HolidayAction -->
	<bean id="HolidayAction" class="com.combanc.itsm.action.systemmanage.HolidayAction"
		scope="prototype">
		<property name="holidayService" ref="holidayService" />
	</bean>

	<!-- 配置SeverityTypAction -->
	<bean id="SeverityTypAction" class="com.combanc.itsm.action.systemmanage.SeverityTypAction"
		scope="prototype">
		<property name="severityTypService" ref="severityTypService" />
	</bean>

	<!-- 配置TaskAllocationAction-->
	<bean id="TaskAllocationAction"
		class="com.combanc.itsm.action.systemmanage.TaskAllocationAction"
		scope="prototype">
		<property name="taskAllocationService" ref="taskAllocationService" />
		<property name="serviceCategoryService" ref="serviceCategoryService" />
		<property name="departmentService" ref="departmentService" />
		<property name="roleteamService" ref="roleteamService" />


	</bean>

	<!-- 配置EngineerAction-->
	<bean id="EngineerAction" class="com.combanc.itsm.action.systemmanage.EngineerAction"
		scope="prototype">
		<property name="roleteamService" ref="roleteamService" />
		<property name="userService" ref="userService" />
		<property name="authorityService" ref="authorityService" />
	</bean>

	<!-- 配置RoleAction-->
	<bean id="RoleAction" class="com.combanc.itsm.action.systemmanage.RoleAction"
		scope="prototype">
		<property name="roleteamService" ref="roleteamService" />
		<property name="userService" ref="userService" />
		<property name="serviceRequestService" ref="serviceRequestService" />
		<property name="menuService" ref="menuService" />
		<property name="privilegeService" ref="privilegeService" />
		<property name="roleGroupService" ref="roleGroupService" />
		<property name="roleTablePrivilegeService" ref="roleTablePrivilegeService" />
		<property name="roleTableService" ref="roleTableService" />
	</bean>
	<bean id="ProblemTypeAction" class="com.combanc.itsm.action.systemmanage.ProblemTypeAction"
		scope="prototype">
		<property name="problemTypeService" ref="problemTypeService" />
	</bean>

	<!-- 配置DocumentCatAction -->
	<bean id="DocumentCatAction" class="com.combanc.itsm.action.document.DocumentCatAction"
		scope="prototype">
		<property name="documentAuthorityService" ref="documentAuthorityService"></property>
		<property name="documentCatService" ref="documentCatService" />
		<property name="roleteamService" ref="roleteamService" />
		<property name="documentService" ref="documentService"></property>
	</bean>

	<!-- 配置ReportAction -->
	<bean id="ReportAction" class="com.combanc.itsm.action.systemmanage.ReportAction"
		scope="prototype">
		<property name="reportService" ref="reportService" />
	</bean>

	<!-- 配置UserServiceRequestAction -->
	<bean id="UserServiceRequestAction"
		class="com.combanc.itsm.action.eventmanage.UserServiceRequestAction"
		scope="prototype">
		<property name="serviceRequestService" ref="serviceRequestService" />
		<property name="serviceTranService" ref="serviceTranService" />
		<property name="serviceCategoryService" ref="serviceCategoryService" />
		<property name="userService" ref="userService" />
		<property name="fileUpDownService" ref="fileUpDownService"></property>
		<property name="taskAllocationService" ref="taskAllocationService" />
		<property name="roleteamService" ref="roleteamService" />
		<property name="serviceRequestStatisticService" ref="serviceRequestStatisticService"></property>
	</bean>

	<!-- 配置EngineerServiceRequestAction -->
	

	<!-- 配置ServiceTranAction -->
	<bean id="EngineerServiceRequestAction" class="com.combanc.itsm.action.eventmanage.EngineerServiceRequestAction" scope="prototype">
		<property name="serviceRequestService" ref="serviceRequestService" />
		<property name="serviceTranService" ref="serviceTranService" />
		<property name="userService" ref="userService" />
		<property name="fileUpDownService" ref="fileUpDownService"></property>
		<property name="taskAllocationService" ref="taskAllocationService" />
		<property name="roleteamService" ref="roleteamService" />
		<property name="schedualedTaskDetailService" ref="schedualedTaskDetailService" />
		<property name="serviceCategoryService" ref="serviceCategoryService" />
	</bean>
	<bean id="ServiceTranAction" class="com.combanc.itsm.action.systemmanage.ServiceTranAction"
		scope="prototype">
		<property name="serviceTranService" ref="serviceTranService" />
	</bean>
	<bean id="UtilTreeAction" class="com.combanc.itsm.action.UtilTreeAction" scope="prototype">
	   <property name="treeDateService" ref="treeDateService" />
	</bean>

	<!-- 配置AssetsAction -->
	<bean id="AssetsAction" class="com.combanc.itsm.action.systemmanage.AssetsAction"
		scope="prototype">
		<property name="fileUpDownService" ref="fileUpDownService"></property>
		<property name="assetsStateService" ref="assetsStateService" />
		<property name="assetsService" ref="assetsService" />
		<property name="departmentService" ref="departmentService" />
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="locationService" ref="locationService" />
		<property name="producerService" ref="producerService" />
		<property name="assetsConfigService" ref="assetsConfigService" />
		<property name="userService" ref="userService" />
		<property name="assetsChangeService" ref="assetsChangeService" />
		<property name="monitorDeviceTypeService" ref="MonitorDeviceTypeService" />
		<property name="itsmTypeService" ref="itsmTypeService" />
		<property name="buildlocationService" ref="buildlocationService" />
	</bean>
	
	<!-- 配置AssetsConfigAction -->
	<bean id="AssetsConfigAction" class="com.combanc.itsm.action.systemmanage.AssetsConfigAction"
		scope="prototype">
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="configrecordService" ref="configrecordService" />
		<property name="assetsConfigService" ref="assetsConfigService" />
	</bean>

	<!-- 配置ProducerAction -->
	<bean id="ProducerAction" class="com.combanc.itsm.action.systemmanage.ProducerAction"
		scope="prototype">
		<property name="producerService" ref="producerService" />
	</bean>

	<!-- 配置AssetsTypeAction -->
	<bean id="AssetsTypeAction" class="com.combanc.itsm.action.systemmanage.AssetsTypeAction"
		scope="prototype">
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="backupAssets" ref="backupAssets" />
	</bean>

	<!-- 配置AssetsStatisticAction -->
	<bean id="AssetsStatisticAction"
		class="com.combanc.itsm.action.systemmanage.AssetsStatisticAction"
		scope="prototype">
		<property name="assetsService" ref="assetsService" />
		<property name="departmentService" ref="departmentService" />
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="assetStatisticService" ref="assetStatisticService" />
	</bean>

	<!-- 配置AssetsImportAction -->
	<bean id="AssetsImportAction" class="com.combanc.itsm.action.systemmanage.AssetsImportAction"
		scope="prototype">
		<property name="assetsStateService" ref="assetsStateService" />
		<property name="assetsService" ref="assetsService" />
		<property name="departmentService" ref="departmentService" />
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="locationService" ref="locationService" />
		<property name="producerService" ref="producerService" />
		<property name="userService" ref="userService" />
		<property name="assetsConfigService" ref="assetsConfigService" />
	</bean>

	<!-- 配置ShowAssetsAction -->
	<bean id="ShowAssetsAction" class="com.combanc.itsm.action.systemmanage.ShowAssetsAction"
		scope="prototype">
		<property name="assetsChangeService" ref="assetsChangeService"></property>
		<property name="fileUpDownService" ref="fileUpDownService"></property>
		<property name="assetsStateService" ref="assetsStateService" />
		<property name="assetsService" ref="assetsService" />
		<property name="departmentService" ref="departmentService" />
		<property name="assetsTypeService" ref="assetsTypeService" />
		<property name="buildlocationService" ref="buildlocationService" />
		<property name="assetsConfigService" ref="assetsConfigService" />
	</bean>
	<!-- 配置工作流begin 
	<bean id="ProDefinitionAction" class="com.combanc.itsm.action.flow.ProDefinitionAction"
		scope="prototype">
		<property name="proTypeService" ref="proTypeService" />
		<property name="proDefinitionService" ref="proDefinitionService" />
	</bean>-->
	<!--
		<bean id="ProcessDetailAction"
		class="com.combanc.itsm.action.flow.ProcessDetailAction"
		scope="prototype"> </bean> <bean id="ProUserAssignAction"
		class="com.combanc.itsm.action.flow.ProUserAssignAction"
		scope="prototype"> </bean> <bean id="ProcessRunAction"
		class="com.combanc.itsm.action.flow.ProcessRunAction"
		scope="prototype"> </bean> <bean id="ProcessActivityAction"
		class="com.combanc.itsm.action.flow.ProcessActivityAction"
		scope="prototype"> </bean> <bean id="TaskAction"
		class="com.combanc.itsm.action.flow.TaskAction" scope="prototype">
		</bean> <bean id="ProcessRunDetailAction"
		class="com.combanc.itsm.action.flow.ProcessRunDetailAction"
		scope="prototype"> </bean>
	-->
	<!-- 配置工作流END -->

	<!--配置添加Asst相关Action-->
	<bean id="AsstAction" class="com.combanc.itsm.action.asst.AsstAction"
		scope="prototype">
		<property name="systemNoticeService" ref="systemNoticeService"></property>
		
	</bean>

	<!--配置个人公告发布的相关Action-->
	<bean id="PersonalNoticeAction"
		class="com.combanc.itsm.action.systemnotice.PersonalNoticeAction"
		scope="prototype">
		<property name="personalNoticeService" ref="personalNoticeService"></property>
	</bean>

	<!--配置项目管理的相关Action-->
	<bean id="ProjectManageAction"
		class="com.combanc.itsm.action.projectmanage.ProjectManageAction"
		scope="prototype">
		<property name="projectManageService" ref="projectManageService"></property>
	</bean>

	<!--配置通讯录管理相关的Action-->
	<bean id="AddressBookManageAction"
		class="com.combanc.itsm.action.addressbookmanage.AddressBookManageAction"
		scope="prototype">
		<property name="addressBookManageService" ref="addressBookManageService"></property>
		<property name="departmentService" ref="departmentService"></property>
		<property name="treeDateService" ref="treeDateService"></property>
		<property name="contactsTreeService" ref="contactsTreeService"></property>
		<property name="userService" ref="userService"></property>
		<property name="customerTypeService" ref="customerTypeService"></property>
	</bean>

	<!--配置通讯录管理导入的Action-->
	<bean id="AddressBookImportAction"
		class="com.combanc.itsm.action.addressbookmanage.AddressBookImportAction"
		scope="prototype">
		<property name="addressBookManageService" ref="addressBookManageService"></property>
		<property name="customerTypeService" ref="customerTypeService"></property>
		<property name="departmentService" ref="departmentService"></property>
	</bean>

	<!--配置系统公告的相关Action-->
	<bean id="SystemNoticeAction" class="com.combanc.itsm.action.systemnotice.SystemNoticeAction"
		scope="prototype">
		<property name="systemNoticeService" ref="systemNoticeService"></property>
		<property name="fileUpDownService" ref="fileUpDownService"></property>
	</bean>

	<!--
		<bean id="addSystemNotice"
		class="com.combanc.itsm.action.systemnotice.AddSystemNoticeAction"
		scope="prototype"> <property name="service"
		ref="systemNoticeService"></property> </bean> <bean
		id="listSystemNotice"
		class="com.combanc.itsm.action.systemnotice.ListSystemNoticeAction"
		scope="prototype"> <property name="service"
		ref="systemNoticeService"></property> </bean> <bean
		id="deleteSystemNotice"
		class="com.combanc.itsm.action.systemnotice.DeleteSystemNoticeAction"
		scope="prototype"> <property name="service" ref="systemNoticeService">
		</property> </bean> <bean id="updateSystemNotice"
		class="com.combanc.itsm.action.systemnotice.UpdateSystemNoticeAction"
		scope="prototype"> <property name="service" ref="systemNoticeService">
		</property> </bean> <bean id="updatePSystemNotice"
		class="com.combanc.itsm.action.systemnotice.UpdatePSystemNoticeAction"
		scope="prototype"> <property name="service" ref="systemNoticeService">
		</property> </bean> <bean id="detailSystemNotice"
		class="com.combanc.itsm.action.systemnotice.DetailSystemNoticeAction"
		scope="prototype"> <property name="service" ref="systemNoticeService">
		</property> </bean> <bean id="querySystemNotice"
		class="com.combanc.itsm.action.systemnotice.QuerySystemNoticeAction"
		scope="prototype"> <property name="service" ref="systemNoticeService">
		</property> </bean>
	-->

	<!--配置添加工作日志的相关Action-->
	<bean id="WorkLogAction" class="com.combanc.itsm.action.worklog.WorkLogAction"
		scope="prototype">
		<property name="workLogService" ref="workLogService"></property>
		<property name="treeDateService" ref="treeDateService"></property>
	</bean>

	<!--配置添加知识库管理的相关Action-->
	<bean id="KnowledgeBaseAction"
		class="com.combanc.itsm.action.systemmanage.KnowledgeBaseAction"
		scope="prototype">
		<property name="knowledgeBaseService" ref="knowledgeBaseService"></property>
		<property name="fileUpDownService" ref="fileUpDownService"></property>
	</bean>

	<!--配置添加计划任务的相关Action-->
	<bean id="SchedualedTasksAction" class="com.combanc.itsm.action.engineer.SchedualedTasksAction"
		scope="prototype">
		<property name="schedualedTaskService" ref="schedualedTaskService"></property>
		<property name="schedualedTaskDetailService" ref="schedualedTaskDetailService"></property>
		<property name="fileUpDownService" ref="fileUpDownService"></property>
		<property name="userService" ref="userService" />
		<property name="schedualedTaskUserService" ref="schedualedTaskUserService"></property>
		<property name="serviceTranService" ref="serviceTranService" />
	</bean>

	<!--配置添加计划任务日志Action-->
	<bean id="SchedualedTaskDiaryAction" class="com.combanc.itsm.action.engineer.SchedualedTaskDiaryAction"
		scope="prototype">
		<property name="stdService" ref="stdService"></property>
		<property name="fileUpDownService" ref="fileUpDownService"></property>
	</bean>

	<!--配置添加日程管理的相关Action-->
	<bean id="ScheduleAction" class="com.combanc.itsm.action.systemmanage.ScheduleAction"
		scope="prototype">
		<property name="scheduleService">
			<ref bean="scheduleService" />
		</property>
	</bean>

	<!--配置添加文档的相关Action-->
	<bean id="DocumentAction" class="com.combanc.itsm.action.document.DocumentAction"
		scope="prototype">
		<property name="documentService" ref="documentService"></property>
		<property name="documentCatService" ref="documentCatService"></property>
		<property name="fileUpDownService" ref="fileUpDownService"></property>

	</bean>
	<!-- 资产状态Action -->
	<bean id="AssetsStateAction" class="com.combanc.itsm.action.systemmanage.AssetsStateAction"
		scope="prototype">
		<property name="assetsService" ref="assetsService" />
		<property name="assetsChangeService" ref="assetsChangeService"></property>
		<property name="assetsStateService" ref="assetsStateService"></property>
	</bean>

	<!-- IP地址申请Action -->
	<bean id="IpAddressAction" class="com.combanc.itsm.action.systemmanage.IpAddressAction"
		scope="prototype">
		<property name="ipAddressService" ref="ipAddressService"></property>
	</bean>

	<!-- IP地址申请网络中心人员Action -->
	<bean id="IpNetcenterAction" class="com.combanc.itsm.action.systemmanage.IpNetcenterAction"
		scope="prototype">
		<property name="ipNetcenterService" ref="ipNetcenterService"></property>
	</bean>
	
	<!-- 工程师信息显示Action -->
	<bean id="EngineerShowAction" class="com.combanc.itsm.action.engineer.EngineerShowAction" scope="prototype">
		<property name="personalNoticeService" ref="personalNoticeService"></property>
	</bean>
	
		<!-- 域名申请Action -->
	<bean id="DomainRegisterAction" class="com.combanc.itsm.action.systemmanage.DomainRegisterAction"
		scope="prototype">
		<property name="domainRegisterService" ref="domainRegisterService"></property>
	</bean>
</beans>
