<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 配置MonitorDeviceAction -->
	<bean id="MonitorDeviceAction" class="com.combanc.monitor.action.MonitorDeviceAction" scope="prototype">
		<property name="monitorSubnetService" ref="MonitorSubnetService" />
		<property name="monitorDeviceService" ref="MonitorDeviceService" />
		<property name="monitorDeviceTypeService" ref="MonitorDeviceTypeService" />
		<property name="deviceInterfaceStatus" ref="DeviceInterfaceStatus" />
		<property name="monitorCpuDataService" ref="MonitorCpuDataService" />
		<property name="monitorCpuDataHourService" ref="MonitorCpuDataHourService" />
		<property name="monitorCpuDataDayService" ref="MonitorCpuDataDayService" />
		<property name="monitorAlertService" ref="MonitorAlertService" />
		<property name="deviceSnmpQuery" ref="DeviceSnmpQuery" />
		<property name="macPortScan" ref="MACPortScan" />
	</bean>
	
	<bean id="MonitorRealTimeDataAction" class="com.combanc.monitor.action.MonitorRealTimeDataAction" scope="prototype">
		<property name="monitorDeviceService" ref="MonitorDeviceService" />
	</bean>
	
	<bean id="MonitorSubnetAction" class="com.combanc.monitor.action.MonitorSubnetAction" scope="prototype">
		<property name="monitorSubnetService" ref="MonitorSubnetService" />
		<property name="monitorDeviceService" ref="MonitorDeviceService" />
		<property name="linkportDiscovery" ref="LinkPortDiscovery" />
		<property name="monitorLinkportService" ref="MonitorLinkportService" />
		<property name="monitorComputerService" ref="MonitorComputerService" />
		<property name="monitorRealtimeUseService" ref="MonitorRealtimeUseService" />
		<property name="monitorRealtimeCpuService" ref="MonitorRealtimeCpuService" />
		<property name="monitorRealtimePortflowService" ref="MonitorRealtimePortflowService" />
		<property name="monitorAlertService" ref="MonitorAlertService" />
	</bean>
	
	<bean id="MonitorComputerAction" class="com.combanc.monitor.action.MonitorComputerAction" scope="prototype">
		<property name="monitorSubnetService" ref="MonitorSubnetService" />
		<property name="monitorComputerService" ref="MonitorComputerService" />
		<property name="deviceInterfaceStatus" ref="DeviceInterfaceStatus" />
	</bean>
	<bean id="MonitorTopNAction" class="com.combanc.monitor.action.MonitorTopNAction" scope="prototype">
		<property name="monitorRealtimeFaultService" ref="MonitorRealtimeFaultService" />
		<property name="monitorRealtimeDelayService" ref="MonitorRealtimeDelayService" />
		<property name="monitorRealtimeUseService" ref="MonitorRealtimeUseService" />
		<property name="monitorRealtimeCpuService" ref="MonitorRealtimeCpuService" />
		<property name="monitorRealtimePortflowService" ref="MonitorRealtimePortflowService" />
		<property name="monitorSystemParamService" ref="MonitorSystemParamService" />
		<property name="monitorLinkportService" ref="MonitorLinkportService" />
	</bean>
	
	<bean id="MonitorSystemSettingsAction" class="com.combanc.monitor.action.MonitorSystemSettingsAction" scope="prototype">
		<property name="monitorSystemParamService" ref="MonitorSystemParamService" />
		<property name="monitorPingTimePointService" ref="MonitorPingTimePointService" />
		<property name="monitorAlertPolicyService" ref="MonitorAlertPolicyService" />
		<property name="monitorSubnetService" ref="MonitorSubnetService" />
		<property name="monitorDeviceService" ref="MonitorDeviceService" />
		<property name="monitorAlertSmalltypeService" ref="MonitorAlertSmalltypeService" />
		<property name="monitorArpAlertWhiteMacService" ref="MonitorArpAlertWhiteMacService" />
		<property name="userService" ref="userService" />
	</bean>
	
	<bean id="MonitorAlertAction" class="com.combanc.monitor.action.MonitorAlertAction" scope="prototype">
		<property name="monitorAlertService" ref="MonitorAlertService" />
		<property name="monitorAlertTypeService" ref="MonitorAlertTypeService" />
		<property name="monitorAlertSmalltypeService" ref="MonitorAlertSmalltypeService" />
		<property name="monitorSystemParamService" ref="MonitorSystemParamService" />
	</bean>
	
	<bean id="MonitorLogAction" class="com.combanc.monitor.action.MonitorLogAction" scope="prototype">
		<property name="monitorAccessLogService" ref="MonitorAccessLogService" />
		<property name="monitorArpLogService" ref="MonitorArpLogService" />
		<property name="monitorSubnetService" ref="MonitorSubnetService" />
	</bean>
	
	<bean id="MonitorKeyInterfaceAction" class="com.combanc.monitor.action.MonitorKeyInterfaceAction" scope="prototype">
		<property name="monitorKeyInterfaceService" ref="MonitorKeyInterfaceService" />
		
	</bean>
</beans>
