/*
 * 基本样式
 * author:
 */


/**************  添加、保存、删除、刷新、列表、上一个、下一个、导出、自动发现按钮样式 *********************/
.add{
    background-image: url('../images/default/dd/drop-add.gif') !important;
}

.save{
    background-image: url('../images/default/dd/drop-yes.gif') !important;
}

.delete{
    background-image: url('../images/default/dd/drop-no.gif') !important;
}

.refresh{
    background-image: url('../images/default/grid/refresh.gif') !important;
}
.list{
    background-image: url('../images/default/tree/leaf_.gif') !important;
}

.prev{
    background-image: url('../images/default/grid/page-prev.gif') !important;
}

.next{
    background-image: url('../images/default/grid/page-next.gif') !important;
}

.import{
    background-image: url('../images/default/grid/import.gif') !important;
}

.discoverStart{
    background-image: url('run.gif') !important;
}
.discoverLog{
    background-image: url('discoverLog.gif') !important;
}